@use "/src/styles/mixins" as mixin;

.benefitsSection {
  @include mixin.section-styles;

  &__title {
    @include mixin.title-styles(center);
  }

  &__subtitle {
    @include mixin.subtitle-styles(center);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;

    @media (max-width: 991.98px) {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include mixin.text-styles(left, 700);
  }

  &__check-icon {
    padding: 6px;
    border-radius: 50%;
    background-color: #8bc53f33;
  }

  &__image-wrapper {
    height: 35rem;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-self: center;
    align-items: center;
  }

  &__image {
    border-radius: 16px;

    @media (max-width: 991.98px) {
      transform: translateY(5rem);
    }

    @media (max-width: 575.98px) {
      transform: translateY(0);
    }
  }
}
