@use "/src/styles/mixins" as mixin;

.missionSection {
  padding: 4rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 14px 0px #0000001a;
  margin-bottom: 6.4rem;

  @media (max-width: 575.98px) {
    padding: 16px 16px;
    border-radius: 0;
  }

  &__title {
    @include mixin.title-styles(center);
  }

  &__subtitle {
    @include mixin.subtitle-styles(center);
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__card {
    flex: 1;
    background-color: rgb(247, 247, 247);
    border-radius: 0px 37px;
    padding: 2.4rem;

    &:hover {
      background-color: #ecf6e0;
    }
  }

  &__card-icon {
    margin-bottom: 1rem;

    & img {
      width: 11rem;
      height: 11rem;
    }
  }

  &__card-title {
    @include mixin.title-styles(left, #32333e);
  }

  &__card-text {
    @include mixin.text-styles;
  }
}
