@use "/src/styles/mixins" as mixin;

.missionSection {
  padding: 4rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 14px 0px #0000001a;
  margin-bottom: 6.4rem;

  @media (max-width: 575.98px) {
    border-radius: 0;
  }

  &__title {
    @include mixin.title-styles(center);
  }

  &__subtitle {
    @include mixin.subtitle-styles(center);
  }

  &__cards {
    display: flex;
    gap: 2rem;

    @media (max-width: 1199.98px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__card {
    flex: 1;
    background-color: rgb(247, 247, 247);
    border-radius: 0px 37px;
    padding: 3.5rem 5rem;

    &:hover {
      background-color: #ecf6e0;
    }
  }

  &__icon {
    margin-bottom: 1rem;

    & img {
      width: 11rem;
      height: 11rem;
    }
  }

  &__cardTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__cardText {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
