@use "/src/styles/mixins" as mixin;

.relevanceSection {
  margin-bottom: 128px;

  &__container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &__titleWrapper {
    flex: 1;
    align-self: center;
  }

  &__title {
    @include mixin.title-styles;
  }

  &__subtitle {
    @include mixin.subtitle-styles;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.4rem;

    &:last-child {
      margin-top: 24px;
    }
  }

  &__stats {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__statItem {
    height: 30rem;
    padding: 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:first-child {
      background: #ecf6e0;
      border-radius: 165.5px 165.5px 0px 0px;
    }

    &:last-child {
      background: #ecf6e0;
      border-radius: 0px 0px 165.5px 165.5px;
    }
  }

  &__statIcon {
    margin-bottom: 1rem;
  }

  &__statValue {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__statLabel {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    // &__container {
    //   flex-direction: column;
    //   gap: 20px;
    // }

    // &__stats {
    //   grid-template-columns: 1fr;
    // }
  }
}
