@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.topp,
header .buttons p,
#cont2 {
  display: none;
  color: white !important;
}

h2,
p,
h3 {
  color: #392413 !important;
}

.floatinglogo,
.bottomimg,
.ipdesk,
.social,
.fet {
  display: none !important;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem 0;
}

header {
  position: relative;
  height: 45rem;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

header nav ul {
  display: none;
}

header .mobile {
  display: block !important;
  opacity: 0;
  z-index: 9999;
  position: absolute;
  width: 100vw;
  top: 8rem;
  left: 0;
  background: white;
  padding: 1rem 2rem;
  max-height: 0;
  -webkit-transition: max-height 1s, opacity 1.5s;
  transition: max-height 1s, opacity 1.5s;
  overflow: hidden;
}

header .mobile li {
  padding: 1rem;
}

header .mobile li a {
  font-size: 1.6rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #392413;
}

header .buttons {
  width: 35.1rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

header h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
  width: 25rem;
  position: absolute;
  right: 1rem;
  top: 10.5rem;
}

section {
  position: relative;
  padding: 4rem 2rem 0;
}

section span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #626262;
  margin-bottom: 1rem;
}

section h2 {
  font-size: 2rem;
}

.section1 .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section1 .boxs .box {
  width: 100%;
  max-width: 39rem;
  height: 25.9rem;
  background-color: #ecf6e0;
  margin: 1rem 0;
  border-radius: 15px;
  padding: 1.8rem;
}

.section1 .boxs .box h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

.section1 .boxs .box p {
  font-size: 1.6rem;
  letter-spacing: -0.04rem;
}

.section2 p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.section2 .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 9rem;
}

.section2 .boxs .box {
  width: 16rem;
  margin-bottom: 2rem;
}

.section2 .boxs .box h3 {
  font-size: 2rem;
  margin: 1.5rem 0 -1rem;
}

.section3 span {
  padding: 5rem 0 3rem;
  text-align: center;
  background-image: url(../images/halfcircle.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
}

.section3 h2 {
  font-size: 2rem;
  text-align: center;
}

.section3 .boxs .box {
  width: 15rem;
  margin: 2rem auto 4rem;
}

.section3 .boxs .box p {
  font-size: 1.6rem;
  text-align: center;
}

.section3 .boxs .box img {
  display: block;
  margin: 0 auto;
}

.section3 .flex img {
  width: 32rem;
  display: block;
  margin: 0 auto;
}

.section3 .flex .text h3 {
  font-size: 2rem;
  margin: 0.7rem 0;
  color: #009247;
}

.section3 .flex .text p {
  width: 93%;
  margin: 0 0 2rem;
  font-size: 1.6rem;
}

.section4 {
  background-color: #ecf6e0;
  padding-bottom: 15rem;
}

.section4 span {
  padding: 5rem 0 3rem;
  text-align: center;
  background-image: url(../images/halfcirclegr.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
}

.section4 h2 {
  margin-top: -4rem;
  text-align: center;
  font-size: 2rem;
}

.section4 a {
  width: 100%;
  max-width: 33rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #009247;
  border-radius: 80px;
  padding: 0 4rem;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  margin: 4rem auto 0;
}

.section4 a img {
  margin-right: 3rem;
}

.section4 a:nth-child(2) {
  position: absolute;
  background-color: #d5e7be;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section4 a:nth-child(2) img {
  margin-right: 1rem;
}

.section4 .container img {
  display: block;
  width: 90%;
  margin: 3rem auto;
  max-width: 45rem;
}

.section4 .container ul {
  list-style: none;
}

.section4 .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.section4 .container ul li .check {
  display: block;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  margin-right: 2.5rem;
  border-radius: 50%;
  background-color: #8bc53f33;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section4 .container ul li p {
  font-size: 1.4rem;
  font-weight: 700;
}

.section5 span {
  padding: 5rem 0 3rem;
  text-align: center;
  background-image: url(../images/halfcircle.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
}

.section5 h2 {
  margin-top: -3rem;
  text-align: center;
  font-size: 2rem;
}

.section5 img {
  width: 34.5rem;
  display: block;
  margin: 0 auto;
}

.section5 .boxs {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section5 .boxs .boxs {
  margin: 0;
}

.section5 .boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.section5 .boxs .box img {
  margin-right: 2rem;
  width: auto;
}

.section5 .boxs .box p {
  font-size: 1.7rem;
  font-weight: 700;
}

.section6 {
  background-color: #c4c4c412;
}

.section6 h2 {
  text-align: center;
  font-size: 2rem;
  width: 17rem;
  margin: 0 auto;
}

.section6 img {
  width: 34.5rem;
  display: block;
  margin: 0 auto;
}

.section6 .boxs {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section6 .boxs .boxs {
  margin: 0;
}

.section6 .boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.section6 .boxs .box img {
  margin-right: 2rem;
  width: auto;
}

.section6 .boxs .box p {
  font-size: 1.7rem;
  font-weight: 700;
}

.section7 span {
  padding: 5rem 0 3rem;
  text-align: center;
  background-image: url(../images/halfcircle.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
}

.section7 h2 {
  margin-top: -3rem;
  text-align: center;
  font-size: 2rem;
}

.section7 .box {
  background-color: #8bc53f33;
  border-radius: 2.4rem;
  height: 23.9rem;
  padding: 2rem;
  margin-top: 2rem;
  margin: 2rem auto 0;
  max-width: 37.6rem;
}

.section7 .box img {
  display: block;
  margin: 0 auto;
}

.section7 .box h3 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  color: #009247;
}

.section7 .box p {
  font-size: 1.6rem;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.section7 .flex img {
  width: 100%;
  max-width: 42rem;
  margin: 2rem auto;
  display: block;
}

.section7 .flex p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.section8 {
  padding-top: 1rem;
  background-color: #ecf6e0;
  padding-bottom: 4rem;
}

.section8 span {
  padding: 5rem 0 3rem;
  text-align: center;
  background-image: url(../images/halfcirclegr.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
}

.section8 h2 {
  text-align: center;
  font-size: 2rem;
  width: 20rem;
  margin: -3rem auto 0;
}

.section8 .flex .text {
  margin-top: 3rem;
}

.section8 .flex .text h3 {
  color: #009247;
  font-size: 2.3rem;
  width: 70%;
  margin-bottom: 1rem;
}

.section8 .flex .text p {
  font-size: 1.6rem;
  font-family: 700;
}

.section8 .steps {
  max-width: 45.5rem;
  margin: 0 auto;
  position: relative;
}

.section8 .steps .line {
  margin: 2.5rem auto;
  width: 1.2rem;
  height: 40rem;
  background-color: #d5e7be;
  border-radius: 2rem;
}

.section8 .steps ul {
  list-style: none;
  position: absolute;
  top: 3rem;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section8 .steps ul li {
  width: 100%;
  height: 7rem;
  font-size: 1.7rem;
  color: #009247;
  font-weight: 700;
}

.section8 .steps ul li .circle {
  background-color: #009247;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0 1.9rem 1.5rem;
}

.section8 .steps ul li:nth-child(odd) {
  text-align: -webkit-right;
}

.section9 span {
  padding: 5rem 0 3rem;
  text-align: center;
  background-image: url(../images/halfcircle.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
}

.section9 h2 {
  text-align: center;
  font-size: 2rem;
  width: 27rem;
  margin: -3rem auto 0;
}

.section9 .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.section9 .boxs .box {
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  width: 33rem;
  height: 32.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 2rem;
}

.section9 .boxs .box img {
  display: block;
  margin: 0 auto 2rem;
  width: 11rem;
}

.section9 .boxs .box h3 {
  text-align: center;
  font-size: 1.7rem;
  color: #009247;
}

.section9 .boxs .box .stars {
  height: 1.5rem;
}

.section9 .boxs .box p {
  font-size: 1.6rem;
  text-align: center;
}

.section10 {
  padding: 40rem 0 0;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-position: center 28rem;
  height: 50rem;
  position: relative;
}

.section10 .topimg {
  width: 100%;
}

.section10 .back {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #8bc53f;
}

.section10 .container {
  max-width: 37.8rem;
  position: relative;
  height: 60rem;
  background-color: #d5e7be;
  width: 90%;
  margin: -24rem auto 0;
  border-radius: 2.5rem;
  padding-top: 9rem;
}

.section10 .container .topimg {
  display: block;
  position: absolute;
  top: -14rem;
}

.section10 .container span {
  padding: 7rem 0 3rem;
  text-align: center;
  background-image: url(../images/halfcirclegr.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.6rem;
}

.section10 .container h2 {
  text-align: center;
  font-size: 2rem;
  width: 27rem;
  margin: -4rem auto 2rem;
}

.section10 .container p {
  font-size: 1.6rem;
  text-align: center;
  width: 90%;
  margin: 0 auto 1rem;
}

.section10 .container .buttons {
  margin: 0 auto;
  width: 17.3rem;
}

.section10 .container .buttons a {
  display: block;
  margin-bottom: 1rem;
}

.section10 .container .box {
  padding: 2rem 3rem 0.5rem;
  background-color: #8bc53f;
  width: 30rem;
  border-radius: 2rem;
  margin: 0 auto;
}

.section10 .container .box .i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.section10 .container .box .i .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #d5e7be;
  position: relative;
  margin-right: 1rem;
}

.section10 .container .box .i .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section10 .container .box .i p {
  color: white;
  text-align: left;
  margin: 0;
}

.section10 .copyr {
  position: relative;
  bottom: -8rem;
  display: block;
  font-size: 1.7rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header h1 {
    top: 15rem;
    text-align: left;
    right: 8rem;
  }
  header .buttons p {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
  }
  .section1 .boxs {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .section1 .boxs .box {
    max-width: 23rem;
    height: 32rem;
  }
  .section1 span,
  .section2 span {
    font-size: 2rem;
  }
  .section2 h2 {
    font-size: 2.5rem;
  }
  .section2 .boxs {
    margin: 7rem auto 0;
    max-width: 50rem;
  }
  .section3 h2,
  .section7 h2,
  .section8 h2,
  .section9 h2,
  .section4 h2 {
    max-width: 45rem;
    margin: 0 auto;
    font-size: 2.5rem;
  }
  .section3 .boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4rem 0 0;
  }
  .section3 .flex {
    margin: 0 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .section3 .flex img {
    margin-right: 4rem;
  }
  .section5 .boxs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section5 .boxs .boxs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .section5 .boxs,
  .section6 .boxs {
    margin-top: 4rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .section5 .boxs .box,
  .section6 .boxs .box {
    margin-bottom: 2rem;
    max-width: 25rem;
  }
  .section6 .boxs .box:nth-child(7) {
    width: 100%;
    max-width: unset;
  }
  .section6 .boxs .box:nth-child(7) img {
    margin: 0 2rem 0 0;
  }
  .section6 .boxs .box:nth-child(7) p {
    width: 57rem;
  }
  .section7 h2,
  .section8 h2,
  .section9 h2,
  .section3 h2,
  .section4 h2 {
    margin-top: -3rem;
  }
  .section8 h2 {
    width: 25rem;
  }
  .section4 h2 {
    width: 50rem;
    max-width: 50rem;
  }
  .section7 {
    margin-bottom: 5rem;
  }
  .section7 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section9 .boxs {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .section8 {
    padding-bottom: 11rem;
  }
  .section8 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .section8 .flex .text {
    max-width: 33rem;
  }
  .section8 .flex .text h3 {
    width: 100%;
  }
  .section8 .steps {
    max-width: unset;
  }
  .section8 .steps .line {
    height: 1.2rem;
    width: 57rem;
    margin-top: 8rem;
  }
  .section8 .steps ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .section8 .steps ul li {
    text-align: unset;
    width: 7rem;
  }
  .section8 .steps ul li:nth-child(odd) {
    text-align: unset;
  }
  .section10 {
    background-position: center 15rem;
  }
}

@media only screen and (min-width: 478px) and (max-width: 1000px) {
  .section4 .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 52rem;
    margin: 0 auto;
  }
  .section4 .buttons a {
    width: 48%;
    max-width: 22rem;
    padding: 0 2rem 0 2rem;
    height: 6rem;
    font-size: 1.6rem;
  }
  .section4 .buttons a img {
    width: 4rem;
    margin-right: 1rem;
  }
  .section4 .buttons a:nth-child(2) {
    position: unset;
    bottom: unset;
    -webkit-transform: unset;
    transform: unset;
  }
}

@media only screen and (min-width: 478px) {
  .section10 .container {
    height: 57rem;
  }
  .section10 .container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 46rem;
    margin-left: -4rem;
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 1000px) {
  .bottomimg,
  .ipdesk,
  nav ul {
    display: block !important;
  }
  .section10 .back,
  #mobilemenu {
    display: none !important;
  }
  .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 93rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .menu a {
    font-size: 1.4rem;
  }
  .menu li {
    margin: 0 -1rem;
  }
  header {
    background-image: url(../images/backdeskto.png);
    height: 73.5rem;
  }
  header .mobilenav {
    display: none;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
  }
  header ul li a {
    color: #392413;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem 2rem;
    margin-right: 1rem;
  }
  header ul li:hover a {
    background-color: #8bc53f;
    border-radius: 0px 20px 20px 20px;
    color: white;
    font-weight: 400;
  }
  header .topp {
    font-size: 3.75rem;
    color: white;
    text-align: center;
    width: 44rem;
    position: absolute;
    right: 7.3rem;
    top: 17.5rem;
    display: block;
  }
  header h1 {
    /* right: 26rem; */
    top: 25rem;
  }
  header .buttons {
    bottom: 12rem;
  }
  header .bottomimg {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: white;
    bottom: -8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  header .bottomimg img {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10rem;
  }
  .section1 {
    padding: 2rem 2rem 0;
  }
  .section1 span {
    text-align: center;
    font-size: 2.5rem;
  }
  .section1 h2 {
    font-size: 2.5rem;
    text-align: center;
    width: 48rem;
    margin: 0 auto;
  }
  .section1 .boxs {
    margin: 4rem 0;
  }
  .section2 {
    max-width: 105rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 span {
    font-size: 2.5rem;
  }
  .section2 h2 {
    font-size: 2.5rem;
    width: 35rem;
  }
  .section2 p {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
  .section2 .text {
    max-width: 40rem;
  }
  .section2 .boxs {
    margin-top: 0;
    max-width: 50rem;
  }
  .section2 .boxs .box {
    padding: 2.5rem 3rem;
    width: 25rem;
    margin-bottom: 0;
  }
  .section2 .boxs .box img {
    display: block;
    margin: 0 auto;
  }
  .section2 .boxs .box h3 {
    text-align: center;
  }
  .section2 .boxs .box p {
    text-align: center;
    margin-top: 1.5rem;
  }
  .section2 .boxs .box:nth-child(1) {
    background: #ecf6e0;
    border-radius: 165.5px 165.5px 0px 0px;
  }
  .section2 .boxs .box:nth-child(4) {
    background: #ecf6e0;
    border-radius: 0px 0px 165.5px 165.5px;
  }
  .section3 span {
    background-size: 24rem;
    font-size: 2.5rem;
  }
  .section3 h2 {
    font-size: 3rem;
    width: 60rem;
    max-width: 60rem;
  }
  .section3 .boxs {
    max-width: 67rem;
    margin: 4rem auto;
  }
  .section3 .boxs p {
    margin-top: 1rem;
  }
  .section3 .flex img {
    width: 40rem;
  }
  .section3 .flex .text {
    max-width: 68rem;
  }
  .section3 .flex .text h3 {
    font-size: 3.5rem;
  }
  .section4 span {
    background-size: 24rem;
    font-size: 2.5rem;
  }
  .section4 h2 {
    font-size: 3rem;
    width: 60rem;
    max-width: 60rem;
  }
  .section4 .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 69rem;
    margin: 0 auto;
  }
  .section4 a:nth-child(2) {
    position: unset;
    -webkit-transform: unset;
    transform: unset;
  }
  .section4 .container {
    margin-top: 5rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
  }
  .section4 .container ul {
    max-width: 50rem;
  }
  .section4 .container ul li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section4 .container ul li .check {
    width: 3.9rem;
    min-width: 3.9rem;
    height: 3.9rem;
  }
  .section4 .container ul li p {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .section5 {
    max-width: 105rem;
    margin: 0 auto;
    padding-bottom: 8rem;
  }
  .section5 span {
    font-size: 2.5rem;
    text-align: left;
    background-image: none;
  }
  .section5 h2 {
    font-size: 2.5rem;
    width: 50rem;
    text-align: left;
  }
  .section5 .boxs {
    width: 56rem;
    float: left;
  }
  .section5 .ipmobile {
    display: none;
  }
  .section5 .ipdesk {
    display: block;
  }
  .section6 {
    height: 70rem;
  }
  .section6 h2 {
    font-size: 2.5rem;
    width: 50rem;
    text-align: center;
    margin-bottom: 5rem;
  }
  .section6 .boxs {
    width: 58rem;
    float: right;
  }
  .section6 .ipmobile {
    display: none;
  }
  .section6 .ipdesk {
    display: block;
    bottom: 0;
    position: absolute;
    width: 48rem;
    z-index: -1;
  }
  .section7 span {
    background-size: 24rem;
    font-size: 2.5rem;
  }
  .section7 h2 {
    font-size: 3rem;
    width: 60rem;
    max-width: 60rem;
  }
  .section7 .box {
    margin-top: 4rem;
    height: 15rem;
    max-width: 53.6rem;
  }
  .section7 .box img {
    float: left;
    margin-right: 2rem;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .section7 .box h3 {
    text-align: left;
    font-size: 3.4rem;
  }
  .section7 .box p {
    font-size: 2rem;
    text-align: left;
    margin-right: 0;
  }
  .section7 .flex {
    max-width: 100rem;
    margin: 0 auto;
  }
  .section8 {
    padding-top: 5rem;
  }
  .section8 span {
    background-size: 24rem;
    font-size: 2.5rem;
  }
  .section8 h2 {
    font-size: 3rem;
    width: 45rem;
  }
  .section8 .flex .text h3 {
    font-size: 3rem;
  }
  .section8 .steps {
    max-width: 100rem;
  }
  .section8 .steps .line {
    width: 85rem;
  }
  .section8 .steps ul {
    width: 85%;
    margin-top: -4.5rem;
  }
  .section8 .steps ul li {
    font-size: 1.8rem;
  }
  .section8 .steps ul li .circle {
    width: 4rem;
    height: 4rem;
  }
  .section9 {
    padding-top: 5rem;
  }
  .section9 span {
    background-size: 24rem;
    font-size: 2.5rem;
  }
  .section9 h2 {
    font-size: 3rem;
    width: 45rem;
  }
  .section10 {
    background: none;
    background-image: url(../images/backfooter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    background-position: center 28rem;
    height: 100rem;
  }
  .section10 .back {
    background: none;
  }
  .section10 .container {
    margin: 20rem auto 0;
  }
  .section10 .copyr {
    bottom: -5rem;
  }
  .section10 .container {
    height: auto;
  }
  .section10 .container .box {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1300px) {
  header .topp {
    /* right: 24rem; */
  }
  header h1 {
    /* right: 25rem; */
  }
  .section1 .boxs {
    max-width: 140rem;
    margin: 4rem auto;
  }
  .section1 .boxs .box {
    max-width: 29rem;
    height: 28rem;
  }
  .section4 .container {
    margin: 5rem auto 0;
    max-width: 110rem;
  }
}

@media only screen and (min-width: 1700px) {
  .fet {
    position: absolute;
    top: 20.5rem;
    left: 25rem;
  }
  .fet img {
    width: 18rem;
  }
  .fet:nth-child(2) {
    top: 71rem;
    left: 72rem;
  }
  .fet:nth-child(2) img {
    width: 11rem;
  }
  .floatinglogo,
  .bottomimg,
  .ipdesk,
  .social,
  .fet {
    display: block !important;
  }
  header {
    height: 81rem;
    background-size: contain;
    background-position: 0rem 8rem;
  }
  header h1 {
    right: 50rem;
    top: 304px;
    line-height: 46px;
    letter-spacing: -1px;
    width: 28rem;
    font-size: 5rem;
  }
  header .topp {
    font-weight: 700;
    width: 70rem;
    right: 209px;
    top: 209px;
    letter-spacing: -1px;
    word-spacing: 2px;
  }
  header nav {
    padding: 1.3rem 17rem;
  }
  header nav img {
    width: 16.6rem;
  }
  header nav .menu {
    width: 93rem;
    margin-right: -15rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  header nav .menu a {
    font-size: 1.8rem;
  }
  header nav .menu li {
    margin: 0 -1rem;
  }
  header nav .social {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header nav .social li a {
    margin-right: 0.6rem;
    padding: 0;
  }
  header nav .social li img {
    width: 3.5rem;
  }
  header .bottomimg {
    width: 16rem;
    height: 16rem;
    bottom: -6.8rem;
  }
  header .bottomimg img {
    top: 35%;
    left: 50%;
    width: 10rem;
  }
  header .buttons {
    left: 69.5%;
    width: 39.1rem;
    bottom: 41px;
  }
  header .buttons p {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
  }
  header .buttons a {
    text-decoration: none;
    margin-right: 8px;
  }
  header .floatinglogo {
    position: absolute;
    right: 60px;
    top: 228px;
    width: 24rem;
  }
  .section1 {
    padding: 12.1rem 0;
  }
  .section1 span {
    font-size: 3.2rem;
  }
  .section1 h2 {
    width: 81rem;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -3px;
  }
  .section1 .boxs {
    max-width: unset;
    width: 153rem;
    margin: 7rem auto 0;
  }
  .section1 .boxs .box {
    max-width: 35rem;
    width: 350px;
    height: 457px;
    background: rgba(247, 247, 247, 0.5);
    border-radius: 0px 37px;
    padding: 3.5rem 5rem;
  }
  .section1 .boxs .box img {
    width: 11rem;
  }
  .section1 .boxs .box h3 {
    font-size: 3rem;
    margin: 2rem 0;
    width: 21rem;
  }
  .section1 .boxs .box p {
    line-height: 24px;
  }
  .section1 .boxs .box:hover {
    background: #ecf6e0;
  }
  .section1 .floatinglogo {
    position: absolute;
    right: 21px;
    top: 66px;
    width: 20rem;
  }
  .section2 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4.5rem 18rem;
  }
  .section2 .text {
    max-width: 68rem;
  }
  .section2 .text span {
    font-size: 35px;
    letter-spacing: -2px;
  }
  .section2 .text h2 {
    font-size: 4.8rem;
    width: 62rem;
    line-height: 52px;
    letter-spacing: -2px;
    margin-top: 16px;
    margin-left: -5px;
  }
  .section2 .text p {
    width: 58.6rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -0.04rem;
    margin-top: 6rem;
  }
  .section2 .boxs {
    margin: -31px 0 0 1rem;
    max-width: 72.6rem;
  }
  .section2 .boxs .box {
    width: 357px;
    height: 299px;
  }
  .section2 .boxs .box img {
    width: 8.5rem;
  }
  .section2 .boxs .box h3 {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -1px;
  }
  .section2 .boxs .box p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.4px;
    margin-top: 22px;
  }
  .section2 .boxs .box:nth-child(2) img,
  .section2 .boxs .box:nth-child(4) img {
    width: 11.5rem;
    margin-bottom: -7px;
  }
  .section2 .boxs .box:nth-child(3) img {
    width: 10.3rem;
    margin-bottom: -2px;
  }
  .section2 .boxs .box:nth-child(4) h3 {
    margin-top: 34px;
  }
  .section2 .floatinglogo {
    position: absolute;
    right: 21px;
    top: -75px;
    width: 20rem;
  }
  .section3 span {
    font-size: 35px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -2px;
    padding: 75px;
    background-size: 355px;
    background-position: center 34px;
  }
  .section3 h2 {
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -2px;
    width: 116rem;
    max-width: 77rem;
    margin-top: -86px;
  }
  .section3 .boxs {
    max-width: 92rem;
  }
  .section3 .boxs .box {
    width: 20rem;
    padding: 18px 0;
  }
  .section3 .boxs .box img {
    width: 80px;
  }
  .section3 .boxs .box p {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -2px;
    margin-top: 20px;
  }
  .section3 .boxs .box:nth-child(2) {
    width: 22rem;
  }
  .section3 .boxs .box:nth-child(2) img {
    margin-bottom: 31px;
    width: 88px;
    margin-top: 5px;
  }
  .section3 .flex {
    margin-top: -133px;
    margin-left: -15px;
  }
  .section3 .flex img {
    margin: 0;
    width: 65rem;
  }
  .section3 .flex .text {
    width: 115rem;
    max-width: 85rem;
    margin-top: -180px;
  }
  .section3 .flex .text h3 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
    margin-top: 137px;
    margin-bottom: 17px;
  }
  .section3 .flex .text h3:nth-child(3) {
    margin-top: 38px;
    margin-bottom: 20px;
  }
  .section3 .flex .text p {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -2px;
    width: 69rem;
  }
  .section3 .floatinglogo {
    position: absolute;
    right: 21px;
    top: 49px;
    width: 20rem;
  }
  .section4 {
    padding-bottom: 0;
  }
  .section4 .background {
    background-image: url(../images/bottomsection.svg);
    width: 100vw;
    height: 52rem;
    position: absolute;
    bottom: -198px;
    right: 0;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .section4 span {
    font-size: 35px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -2px;
    padding: 75px;
    background-size: 355px;
    padding-top: 61px;
    background-position: center 19px;
  }
  .section4 h2 {
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -2px;
    width: 116rem;
    max-width: 100rem;
    margin-top: -86px;
  }
  .section4 .buttons {
    margin-top: 34px;
    max-width: 84rem;
  }
  .section4 .buttons a {
    position: relative;
    max-width: 40rem;
    height: 11.7rem;
    margin: 3rem auto 0;
    padding: 0 5rem;
    font-size: 2.6rem;
  }
  .section4 .buttons a img {
    width: 8rem;
    margin-right: 5rem;
  }
  .section4 .buttons a:nth-child(2) {
    bottom: unset;
    left: unset;
    padding: 0 3rem;
  }
  .section4 .buttons a:nth-child(2) img {
    width: 6.4rem;
    margin-right: 2rem;
  }
  .section4 .buttons .tip {
    width: 4rem;
    height: 4rem;
    background: #009247;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    bottom: -19px;
    z-index: 0;
  }
  .section4 .nontip {
    display: none;
  }
  .section4 .container img {
    width: 91rem;
    max-width: 68rem;
  }
  .section4 .container .backimg {
    margin-right: 11rem;
    position: relative;
  }
  .section4 .container .backimg .back {
    background: #92b466;
    width: 94%;
    height: 91%;
    position: absolute;
    z-index: -1;
    bottom: 14px;
    right: -15px;
    border-radius: 30px;
  }
  .section4 .container ul {
    margin-left: 19rem;
    margin-top: 81px;
    max-width: 67rem;
  }
  .section4 .container ul li {
    margin-bottom: 36px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section4 .container ul li p {
    font-size: 2.3rem;
  }
  .section5 {
    padding: 17rem;
    padding-bottom: 6rem;
    padding-top: 1rem;
  }
  .section5 img {
    width: 55.5rem;
    margin-left: 89rem;
  }
  .section5 span {
    font-size: 35px;
    line-height: 80px;
    letter-spacing: -2px;
    background-size: 355px;
    padding: 5.7rem 0rem 1.5rem;
  }
  .section5 h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
    width: 116rem;
    max-width: 88rem;
  }
  .section5 .boxs {
    width: 75rem;
    margin-top: 15.5rem;
    margin-left: 3rem;
  }
  .section5 .boxs .boxs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 11rem;
  }
  .section5 .boxs .boxs .box {
    margin-bottom: 7rem;
    max-width: 68rem;
    width: 29rem;
  }
  .section5 .boxs .boxs .box img {
    width: 9.5rem;
    margin: 0;
  }
  .section5 .boxs .boxs .box p {
    font-size: 2rem;
    margin-left: 2rem;
  }
  .section5 .floatinglogo {
    position: absolute;
    right: 21px;
    top: 248px;
    width: 20rem;
  }
  .section6 {
    padding-top: 13.5rem;
    height: 100rem;
  }
  .section6 .ipdesk {
    width: 63rem;
    left: 18.2rem;
  }
  .section6 h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
    width: 116rem;
    max-width: 88rem;
  }
  .section6 .boxs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 10rem;
    margin-top: 14rem;
    width: 80rem;
  }
  .section6 .boxs .box {
    margin-bottom: 5.5rem;
    max-width: 68rem;
    width: 40rem;
  }
  .section6 .boxs .box img {
    width: 9.5rem;
    margin: 0;
  }
  .section6 .boxs .box p {
    font-size: 2rem;
    margin-left: 2rem;
    width: 23rem;
  }
  .section6 .boxs .box:nth-child(5) p {
    width: 25rem;
  }
  .section6 .boxs .box:nth-child(6) p {
    width: 20rem;
  }
  .section6 .boxs .box:nth-child(7) {
    width: 100%;
    max-width: unset;
  }
  .section6 .boxs .box:nth-child(7) p {
    width: 57rem;
  }
  .section6 .floatinglogo {
    position: absolute;
    right: 21px;
    top: 69px;
    width: 20rem;
  }
  .section7 {
    padding: 3.7rem 2rem 0;
    margin-bottom: 3rem;
  }
  .section7 span {
    font-size: 35px;
    line-height: 80px;
    letter-spacing: -2px;
    background-size: 355px;
    padding: 5.7rem 0rem 1.5rem;
  }
  .section7 h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
    width: 73rem;
    max-width: 88rem;
  }
  .section7 .box {
    margin-top: 7rem;
    padding: 0 5rem;
    max-width: 60.5rem;
    height: 21.8rem;
  }
  .section7 .box img {
    width: 12rem;
    margin-right: 3.3rem;
    padding: 4rem 0;
  }
  .section7 .box h3 {
    padding-top: 5rem;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
  }
  .section7 .box p {
    width: 107%;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -2px;
  }
  .section7 .flex {
    max-width: 135rem;
  }
  .section7 .flex img {
    height: 46rem;
    width: 100%;
    max-width: 58rem;
    margin: 3rem auto;
    margin-left: 7rem;
    margin-right: 0;
    display: block;
  }
  .section7 .flex .text {
    width: 63rem;
  }
  .section7 .flex .text p {
    margin-bottom: 2rem;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -2px;
  }
  .section7 .floatinglogo {
    position: absolute;
    right: 21px;
    top: 69px;
    width: 20rem;
  }
  .section8 span {
    font-size: 35px;
    line-height: 80px;
    letter-spacing: -2px;
    background-size: 355px;
    padding: 5.7rem 0rem 1.5rem;
  }
  .section8 h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
    width: 57rem;
    max-width: 88rem;
  }
  .section8 .flex {
    margin-top: 3rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section8 .flex .text {
    max-width: 61rem;
    margin-left: 11rem;
  }
  .section8 .flex .text h3 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
  }
  .section8 .flex .text p {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -2px;
  }
  .section8 .steps {
    max-width: 144rem;
    margin-top: 19rem;
  }
  .section8 .steps .line {
    width: 146rem;
    height: 2.2rem;
  }
  .section8 .steps ul {
    width: 89%;
    margin-top: -4.2rem;
  }
  .section8 .steps ul li {
    font-size: 1.8rem;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -2px;
    width: 12rem;
    text-align: center !important;
  }
  .section8 .steps ul li .circle {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0px auto 1.5rem;
  }
  .section8 .background {
    background-image: url(../images/bottomsection.svg);
    width: 100vw;
    height: 52rem;
    position: absolute;
    bottom: -177px;
    right: 0;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .section9 {
    padding-top: 16rem;
  }
  .section9 span {
    font-size: 35px;
    line-height: 80px;
    letter-spacing: -2px;
    background-size: 355px;
    padding: 5.7rem 0rem 1.5rem;
  }
  .section9 h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
    width: 59rem;
    max-width: 88rem;
  }
  .section9 .boxs .box {
    width: 454px;
    height: 459px;
    padding: 6rem 3rem;
  }
  .section9 .boxs .box img {
    width: 17rem;
  }
  .section9 .boxs .box h3 {
    font-size: 2.3rem;
  }
  .section9 .boxs .box p {
    font-size: 16px;
    line-height: 2.4rem;
    text-align: center;
  }
  .section10 {
    padding: 40rem 0 0;
    background-position: center 10rem;
    margin-top: 14rem;
    height: 67rem;
    background-size: cover;
  }
  .section10 .container {
    max-width: 115.3rem;
    margin: -43rem auto 0;
    height: 543px;
    padding-top: 0;
  }
  .section10 .container span {
    font-size: 35px;
    line-height: 80px;
    letter-spacing: -2px;
    background-size: 225px;
    padding: 5.7rem 0rem 1.5rem;
  }
  .section10 .container h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2px;
    width: 66rem;
    max-width: 88rem;
    margin-top: -3rem;
  }
  .section10 .container p {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    width: 66rem;
    margin-bottom: 2.2rem;
  }
  .section10 .container .buttons {
    width: 35.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .section10 .container .topimg {
    width: 44rem;
    bottom: -67px;
    top: unset;
    right: -201px;
  }
  .section10 .container .box {
    width: 57rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 11rem;
    margin-top: 4rem;
  }
  .section10 .container .box .i {
    width: 27.5rem;
  }
  .section10 .container .box .i .icon {
    width: 6rem;
    height: 6rem;
    min-width: 6rem;
  }
  .section10 .copyr {
    bottom: -10rem;
  }
  header,
  .section1,
  .section2,
  .section3,
  .section4 .container,
  .section5,
  .section6,
  .section9 {
    max-width: 220rem;
    margin: 0 auto;
  }
  .section10 .container .box {
    margin: 4rem auto;
  }
}

@media only screen and (min-width: 1750px) {
  header nav .menu {
    margin-right: -23rem;
  }
}

@media only screen and (min-width: 1820px) {
  header {
    background-size: cover;
  }
  .section4 .background,
  .section8 .background {
    background-size: cover;
    background-position: center 0rem;
    height: 52rem;
  }
  .section3 .flex {
    max-width: 190rem;
    margin: -133px auto 4rem;
  }
  .section5 {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 2000px) {
  .section4 .background {
    background-position: center -38rem;
    height: 68rem;
    margin-bottom: -37rem;
  }
  .section8 .background {
    background-position: center -38rem;
    height: 58rem;
    margin-bottom: -36rem;
  }
  .section9 {
    padding-top: 31rem;
  }
}

@media only screen and (min-width: 2350px) {
  .section4 .background {
    margin-bottom: -15rem;
  }
  .section8 .background {
    margin-bottom: -8rem;
  }
}

.social li:hover a {
  background-color: unset;
}
/*# sourceMappi
ngURL=style.css.map */
