#root {
  // max-width: 1280px;
  max-width: 1400px;
  margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  // color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// .sticky-image {
//   width: 140px;
//   position: sticky;
//   top: 200px;
//   left: -120px;
// }
