@use "/src/styles/mixins" as mixin;

.productSection {
  @include mixin.section-styles;

  &__container {
    display: flex;
    gap: 2.4rem;

    @media (max-width: 1199.98px) {
      flex-direction: column;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include mixin.title-styles;
  }

  &__subtitle {
    @include mixin.subtitle-styles;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 575.98px) {
      gap: 12px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__text {
    @include mixin.text-styles(left, 700);
  }

  &__image-wrapper {
    align-self: center;
    width: 48rem;
  }
}
