.audienceSection {
  margin-bottom: 128px;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__title {
    font-size: 3.5rem;
    color: #626262;
    text-align: center;
    letter-spacing: -0.1rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 4.8rem;
    line-height: 5.2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.2rem;
    margin-bottom: 4rem;
  }

  &__groups {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6rem;
  }

  &__group {
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    // width: 80px;
    // flex-shrink: 1;
    margin-bottom: 2rem;
  }

  &__groupText {
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -0.1rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  &__imageWrapper {
    flex: 1;
    // text-align: center;
  }

  &__image {
    border-radius: 16px;
  }

  &__goals {
    flex: 1;
  }

  &__goal,
  &__implementation {
    margin-bottom: 3.8rem;
  }

  &__goalTitle,
  &__implementationTitle {
    font-size: 4.8rem;
    line-height: 5.2rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1.7rem;
  }

  &__goalText,
  &__implementationText {
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -0.1rem;
  }

  @media (max-width: 768px) {
    // &__groups {
    //   flex-direction: column;
    //   align-items: center;
    // }

    // &__bottom {
    //   flex-direction: column;
    //   align-items: center;
    // }

    // &__imageWrapper {
    //   margin-bottom: 2rem;
    // }
  }
}
