@use "/src/styles/mixins" as mixin;

.availabilitySection {
  padding: 4rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 14px 0px #0000001a;
  margin-bottom: 6.4rem;

  @media (max-width: 575.98px) {
    padding: 16px 16px;
    border-radius: 0;
  }

  &__title {
    @include mixin.title-styles(center);
  }

  &__subtitle {
    @include mixin.subtitle-styles(center);
  }

  &__content {
    display: grid;
    grid-template-columns: 40% auto;
    align-items: center;
    gap: 30px;

    @media (max-width: 1199.98px) {
      grid-template-columns: none;
    }
  }

  &__image-wrapper {
    margin: 0 auto;
    width: 48rem;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 1199.98px) {
      // gap: 10px;
    }

    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
    }
  }

  &__icon {
    flex-shrink: 0;
  }

  &__description {
    @include mixin.text-styles(left, 700);
  }

  @media (max-width: 575.98px) {
    &__title {
      @include mixin.title-styles(start);
    }

    &__subtitle {
      @include mixin.subtitle-styles(start);
    }
  }
}
