@use "/src/styles/mixins" as mixin;

.availabilitySection {
  padding: 4rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 14px 0px #0000001a;
  margin-bottom: 6.4rem;

  &__title {
    @include mixin.title-styles(center);
  }

  &__subtitle {
    @include mixin.subtitle-styles(center);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__imageWrapper {
    width: 450px;
    margin: 0 auto;
  }

  &__list {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 20px;
  }

  &__icon {
    flex-shrink: 0;
    width: 100px;
  }

  // @media (max-width: 768px) {
  // }
}
