@use "/src/styles/mixins" as mixin;

.availabilitySection {
  @include mixin.section-styles;

  &__title {
    @include mixin.title-styles(center);

    @media (max-width: 575.98px) {
      @include mixin.title-styles(start);
    }
  }

  &__subtitle {
    @include mixin.subtitle-styles(center);

    @media (max-width: 575.98px) {
      @include mixin.subtitle-styles(start);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 40% auto;
    align-items: center;
    gap: 3rem;

    @media (max-width: 1199.98px) {
      grid-template-columns: none;
    }
  }

  &__image-wrapper {
    margin: 0 auto;
  }

  &__image-wrapper {
    @media (max-width: 1199.98px) {
      width: 48rem;
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;

    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
      grid-template-rows: none;
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__description {
    @include mixin.text-styles(left, 700);
  }
}
