.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1.5rem 3.2rem;

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 165px;
  }

  &__menu {
    display: flex;
    gap: 1rem;
  }

  &__menu-item {
    display: flex;

    &:last-child .header__menu-link {
      color: #fff;
      background-color: #007bff;
      border-radius: 0;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
        transform: scale(1.1);
      }
    }
  }

  &__menu-link {
    color: #392413;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2rem;

    &:hover {
      background-color: #8bc53f;
      border-radius: 0px 20px 20px 20px;
      color: white;
    }
  }
}
