.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: white;
  }

  &__menu {
    display: flex;
    gap: 10px;

    &-link {
      color: #392413;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1rem 2rem;

      &:hover {
        background-color: #8bc53f;
        border-radius: 0px 20px 20px 20px;
        color: white;
      }
    }
  }
}
