.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1.6rem 3.2rem;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    width: 20rem;
  }

  &__burger {
    display: none;
    background: none;
    border: none;
    width: 5rem;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    gap: 2rem;
  }

  &__menu-item {
    display: flex;
  }

  &__menu-link {
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 1.5rem;

    &:hover {
      background-color: #8bc53f;
      border-radius: 0px 20px 20px 20px;
      color: white;
    }
  }

  @media (max-width: 1399.98px) {
    &__menu {
      gap: 1rem;
    }
  }

  @media (max-width: 1199.98px) {
    &__menu {
      gap: 0;
    }

    &__menu-link {
      padding: 0.5rem 1rem;
    }
  }

  @media (max-width: 991.98px) {
    &__menu {
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      background: orange;
      transform: translateX(-100%);
      transition: 0.3s;

      &--open {
        transform: translateX(0);
      }
    }

    &__burger {
      display: flex;
    }
  }

  // @media (max-width: 767.98px) {

  // }
}
