@use "/src/styles/mixins" as mixin;

.hero {
  background-image: url("/images/back-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 3rem;
  color: #fff;
  margin-bottom: 6.4rem;

  @media (max-width: 991.98px) {
    background-position: -12rem;
  }

  @media (max-width: 767.98px) {
    background-position: -18rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__title-wrapper {
    margin-bottom: 6rem;
  }

  &__slogan {
    @include mixin.title-styles;
    color: white;

    @media (max-width: 991.98px) {
      text-align: end;
    }
  }

  &__title {
    @include mixin.subtitle-styles;
    color: white;

    @media (max-width: 991.98px) {
      text-align: end;
    }
  }

  &__logo {
    // width: 240px;
    // height: 240px;
  }

  &__download-label {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__download {
    display: flex;
    gap: 1rem;
  }

  &__download-link {
    &:hover {
      opacity: 0.8;
      cursor: alias;
    }
  }

  &__download-image {
    width: 24rem;
  }
}
