@use "/src/styles/mixins" as mixin;

.hero {
  background-image: url("/images/back-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem 3.2rem;
  color: #fff;
  margin-bottom: 6.4rem;

  @media (max-width: 767.98px) {
    background-position: -70px center;
  }

  @media (max-width: 575.98px) {
    padding: 16px 16px;
    background-position: -125px center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__title-wrapper {
    margin-bottom: 6rem;
  }

  &__slogan {
    @include mixin.title-styles(_, white);

    @media (max-width: 991.98px) {
      text-align: end;
    }
  }

  &__title {
    @include mixin.subtitle-styles(_, white);

    @media (max-width: 991.98px) {
      text-align: end;
    }
  }

  // &__logo {
  // width: 240px;
  // height: 240px;
  // }

  &__download-label {
    @include mixin.text-styles(_, 700, white);

    & {
      margin-bottom: 1rem;
    }
  }

  &__download {
    display: flex;
    gap: 1rem;
  }

  &__download-link {
    &:hover {
      opacity: 0.8;
      cursor: alias;
    }
  }

  &__download-image {
    width: 24rem;
    height: 7.111rem;
  }
}
