@use "/src/styles/mixins" as mixin;

.footer {
  background-color: #32333e;
  color: white;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.6rem 3.2rem;

    @media (max-width: 575.98px) {
      padding: 16px 16px;
    }
  }

  &__title-wrapper {
    margin-bottom: 1.6rem;
  }

  &__title {
    @include mixin.title-styles(center, white);

    @media (max-width: 575.98px) {
      text-align: center;
    }
  }

  &__description {
    @include mixin.text-styles(center, 400, white);
  }

  &__contact {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.6rem;
  }

  &__contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 16px;
    background-color: #000000;
    gap: 1rem;
  }

  &__contact-text {
    font-size: 2.2rem;
  }

  &__contact-link {
    color: white;
    text-decoration: underline;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.4rem;
  }

  &__nav-link {
    font-size: 2.2rem;
    color: white;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
      cursor: alias;
    }
  }

  &__store {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__store-link {
    &:hover {
      opacity: 0.8;
      cursor: alias;
    }
  }

  &__store-icon {
    width: 24rem;
  }

  &__bottom {
    padding: 1.6rem 3.2rem;
    background-color: #1f202a;
  }

  &__legal {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.6rem;
    gap: 1rem;
  }
}
